/* マゼンタ系 */

$dark_magenta: #884488;
$gray: #ccc;
$light_gray: #eee;
$very_dark_magenta: darken($dark_magenta, 25%);

/* シアン系 */

$dark_magenta: #448888;
$very_dark_magenta: darken($dark_magenta, 25%);